.button {
    border-radius: 40px;
    border: 1px solid #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.button svg path {
    stroke: var(--color-black-icon);
}
.button_active {
    background-color: var(--color-black-icon);
    border: none;
}
.button_active svg path {
    stroke: var(--c-white);
}
