.input {
    padding: 18px 29px 18px 29px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 8px;
    border: 1px solid rgba(40, 40, 40, 0.16);
    background: var(--c-white);
    color: var(--c-black);
}
.input::placeholder {
    color: rgba(78, 93, 124, 0.50);
}