*{
    box-sizing: border-box;
}
:root {
    --c-primary: #1473E6;
    --c-black-20: #6E6E6E;
    --c-black: #2C2C2C;
    --c-black-30: #4B4B4B;
    --c-border: #F5F5F5;
    --c-white: #FFFFFF;
    --color-black-icon: #303030; 
}
body {
    max-width: 1200px;
    margin: 0 auto;
}
button {
    background: none;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 30px;
}
.title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}