.link {
    display: flex;
    position: relative;
    padding: 2px 20px 2px 15px;
    justify-content: center;
    align-items: center;
    font-size: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    color: var(--c-primary);
}