.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 30px;
}
.title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}