.button {
    width: 229px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-radius: 8px;
    background: #303030;
    padding: 14px 44px;
    color: var(--c-white);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;
}