.container {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--c-black-20);
    height: 20px;
}